Repository GetTerminus/terminus-ui, pull requests merged in 2020-02, with the labels that each got.

#2004 chore: update eslint spec rules
  .eslintignore
  .eslintrc.ci.js
  .eslintrc.js
  .gitignore
  lint-staged.config.js
  package.json
  yarn.lock
Labels: PR: approved, Size: M

#2006 chore(Chart): Create an amcharts service mock and expose to the consumers
  terminus-ui/chart/src/chart.component.md
  terminus-ui/chart/src/chart.component.spec.ts
  terminus-ui/chart/testing/src/test-helpers.ts
Labels: PR: approved, PR: awaiting review, Size: M

#2005 feat(formControl): now form control supports no validation mode.
  demo/app/components/input/input.component.html
  terminus-ui/form-field/src/form-field.component.html
  terminus-ui/form-field/src/form-field.component.md
  terminus-ui/form-field/src/form-field.component.scss
  terminus-ui/form-field/src/form-field.component.spec.ts
  terminus-ui/form-field/src/form-field.component.ts
  terminus-ui/form-field/testing/package.json
  terminus-ui/form-field/testing/src/public-api.ts
  terminus-ui/form-field/testing/src/test-components.ts
  terminus-ui/input/src/input.component.html
  terminus-ui/input/src/input.component.md
  terminus-ui/input/src/input.component.spec.ts
  terminus-ui/input/src/input.component.ts
  terminus-ui/input/testing/src/test-components.ts
  terminus-ui/radio-group/src/radio-group.component.html
  terminus-ui/radio-group/src/radio-group.component.md
  terminus-ui/radio-group/src/radio-group.component.scss
  terminus-ui/radio-group/src/radio-group.component.spec.ts
  terminus-ui/radio-group/src/radio-group.component.ts
  terminus-ui/select/src/select.component.html
  terminus-ui/select/src/select.component.md
  terminus-ui/select/src/select.component.spec.ts
  terminus-ui/select/src/select.component.ts
  terminus-ui/select/testing/src/test-components.ts
  terminus-ui/selection-list/src/selection-list.component.html
  terminus-ui/selection-list/src/selection-list.component.md
  terminus-ui/selection-list/src/selection-list.component.spec.ts
  terminus-ui/selection-list/src/selection-list.component.ts
  terminus-ui/selection-list/testing/src/test-components.ts
Labels: PR: approved, PR: awaiting review, Size: XL

#2016 Use calc value instead of a magic percentage for selectionlist input width
  terminus-ui/selection-list/src/selection-list.component.scss
Labels: PR: awaiting review, Size: XS

#2007 chore(TypeGuard): Use new type guards from ngx-tools and remove all internal type guards
  package.json
  terminus-ui/chart/src/chart.component.ts
  terminus-ui/file-upload/src/file-upload.component.ts
  terminus-ui/input/src/input.component.ts
  terminus-ui/paginator/src/paginator.component.ts
  terminus-ui/pipes/src/date/date.pipe.ts
  terminus-ui/pipes/src/time-ago/time-ago.pipe.ts
  terminus-ui/select/src/select.component.ts
  terminus-ui/utilities/src/input-has-changed/input-has-changed.spec.ts
  terminus-ui/utilities/src/input-has-changed/input-has-changed.ts
  terminus-ui/utilities/src/is-valid-date/is-valid-date.spec.ts
  terminus-ui/utilities/src/is-valid-date/is-valid-date.ts
  terminus-ui/utilities/src/type-coercion/is-abstract-control.ts
  terminus-ui/utilities/src/type-coercion/is-drag-event.ts
  terminus-ui/utilities/src/type-coercion/is-html-input-element.ts
  terminus-ui/utilities/src/type-coercion/is-keyboard-event.spec.ts
  terminus-ui/utilities/src/type-coercion/is-keyboard-event.ts
  terminus-ui/utilities/src/type-coercion/is-mouse-event.spec.ts
  terminus-ui/utilities/src/type-coercion/is-mouse-event.ts
  terminus-ui/utilities/src/utilities.module.ts
  terminus-ui/validators/src/validators/greaterThan/greaterThan.ts
  terminus-ui/validators/src/validators/isInRange/isInRange.ts
  terminus-ui/validators/src/validators/lessThan/lessThan.ts
  terminus-ui/validators/src/validators/maxDate/maxDate.ts
  terminus-ui/validators/src/validators/minDate/minDate.ts
  yarn.lock
Labels: PR: approved, PR: awaiting review, Size: L

#2018 fix(Services): define external services as singletons
  terminus-ui/chart/src/amcharts.service.ts
  terminus-ui/chart/src/chart.component.md
  terminus-ui/validators/src/validators.service.md
  terminus-ui/validators/src/validators.service.ts
Labels: PR: approved, Size: XS

#2022 fix(ValidationMessage): Disable change detection OnPush to get called on first change cycle
  terminus-ui/input/src/input.component.spec.ts
  terminus-ui/validation-messages/src/validation-messages.component.ts
Labels: PR: approved, PR: awaiting review, Size: S

#2027 feat(Button): now support custom ID
  terminus-ui/button/src/button.component.html
  terminus-ui/button/src/button.component.spec.ts
  terminus-ui/button/src/button.component.ts
Labels: PR: approved, PR: awaiting review, Size: S

#2028 chore(CI): output changelog link after promotion
  tooling/ci/promote-next-and-deploy.sh
Labels: PR: awaiting review, Size: XS

#2029 Update misspelling and phrasing
  CHANGELOG.md
Labels: PR: awaiting review, Size: XS

#2030 refactor to fix docs generation issue
  terminus-ui/table/src/table.module.ts
Labels: PR: approved, Size: M

#2033 fix(Paginator): simple mode no longer shows total count
  terminus-ui/paginator/src/paginator.component.spec.ts
  terminus-ui/paginator/src/paginator.component.ts
  terminus-ui/paginator/testing/src/test-components.ts
Labels: PR: approved, Size: S

#2034 fix(CsvEntry): Prefix instance uid for cell ids
  terminus-ui/csv-entry/src/csv-entry.component.spec.ts
  terminus-ui/csv-entry/src/csv-entry.component.ts
Labels: PR: awaiting review, Size: S
