Repository GetTerminus/terminus-ui, pull requests merged in 2020-03, with the labels that each got.

#2060 chore(FormField): now using design tokens
  projects/library/form-field/src/form-field.component.scss
  projects/library/input/src/input.component.scss
  projects/library/scss/animation/_animation.scss
Labels: PR: approved, Size: M

#2067 fix(Table): correctly set any possible column alignment
  projects/library/table/src/cell.ts
  projects/library/table/src/table.component.scss
  projects/library/table/src/table.component.spec.ts
  projects/library/table/testing/src/test-components.ts
Labels: PR: approved, Size: S

#2045 chore(CI): update how renovate is working on our repo
  renovate.json
Labels: PR: awaiting review, Size: XS

#2076 fix(Docs): Update all local doc links
  CHANGELOG.md
  README.md
  projects/library/autocomplete/src/autocomplete.component.md
  projects/library/chart/src/chart.component.md
  projects/library/chart/src/chart.component.ts
  projects/library/checkbox/src/checkbox.component.md
  projects/library/chip/src/chip-collection.component.md
  projects/library/cohort-date-range/src/cohort-date-range.component.md
  projects/library/expansion-panel/src/expansion-panel.component.md
  projects/library/input/src/input.component.md
  projects/library/radio-group/src/radio-group.component.md
  projects/library/select/src/select.component.md
  projects/library/selection-list/src/selection-list.component.md
  projects/library/table/src/table.component.md
Labels: PR: approved, PR: awaiting review, Size: L
