Repository GetTerminus/terminus-ui, pull requests merged in 2020-01, with the labels that each got.

#1909 Set up pr label size action
  .github/workflows/size-label.yml
Labels: size/S

#1912 add rebase action
  .github/workflows/rebase.yml
Labels: size/S

#1923 chore: fix action regex
  .github/labeler.yml
Labels: PR: awaiting review, Size: XS

#1927 feat(Search): Emit empty string when the characters are less than the required minimum.
  terminus-ui/search/src/search.component.html
  terminus-ui/search/src/search.component.spec.ts
  terminus-ui/search/src/search.component.ts
Labels: PR%3A%20approved, Size: S

#1937 try reverting part of the label action
  .github/workflows/label-approved-pr.yml
Labels: PR: awaiting review, Size: XS

#1934 fix(SelectionList): selected option should be scrolled into view when panel opened
  demo/app/components/selection-list/selection-list.component.html
  terminus-ui/selection-list/src/selection-list-panel/selection-list-trigger.directive.ts
  terminus-ui/selection-list/src/selection-list.component.spec.ts
  terminus-ui/selection-list/src/selection-list.component.ts
  terminus-ui/selection-list/testing/src/test-components.ts
Labels: PR: approved, PR: awaiting review, Size: M

#1939 fix(CohortDateRange): title case custom cohort
  terminus-ui/cohort-date-range/src/cohort-date-range.component.spec.ts
  terminus-ui/cohort-date-range/src/cohort-date-range.component.ts
Labels: PR: awaiting review, Size: S

#1941 chore(Demo): scope grid demos styles better
  demo/app/components/components.component.scss
  demo/app/components/form-controls/form-controls.component.scss
  demo/app/components/form-controls/form-controls.component.ts
Labels: PR: awaiting review, Size: M

#1942 chore(CI): update renovate config
  renovate.json
Labels: PR: awaiting review, Size: S

#1954 fix(SelectionList): single and multiple select now have matching height
  demo/app/components/form-controls/form-controls.component.html
  demo/app/components/form-controls/form-controls.component.ts
  demo/app/components/form-controls/row.component.html
  demo/app/components/form-controls/row.component.ts
  package.json
  terminus-ui/selection-list/src/selection-list.component.scss
  yarn.lock
Labels: PR: awaiting review, Size: L

#1957 fix(SelectionList): form control value updated properly when set to empty array
  terminus-ui/selection-list/src/selection-list.component.spec.ts
  terminus-ui/selection-list/src/selection-list.component.ts
Labels: PR: awaiting review, Size: S

#1958 feat(Table): now dynamically sizing all columns
  demo/app/components/selection-list/selection-list.component.html
  demo/app/components/selection-list/selection-list.module.ts
  demo/app/components/table/table.component.html
  demo/app/components/table/table.component.scss
  demo/app/components/table/table.component.ts
  terminus-ui/table/src/cell.ts
  terminus-ui/table/src/table-data-source.spec.ts
  terminus-ui/table/src/table.component.md
  terminus-ui/table/src/table.component.scss
  terminus-ui/table/src/table.component.spec.ts
  terminus-ui/table/src/table.component.ts
  terminus-ui/table/testing/src/test-components.ts
Labels: PR: approved, PR: awaiting review, Size: XL

#1992 feat(Pipe): Add abbreviate number pipe
  README.md
  package.json
  terminus-ui/pipes/src/abbreviate-number/abbreviate-number.pipe.spec.ts
  terminus-ui/pipes/src/abbreviate-number/abbreviate-number.pipe.ts
  terminus-ui/pipes/src/pipes.module.ts
  yarn.lock
Labels: PR: awaiting review, Size: L

#1993 fix(Table): resize handle now has correct vertical alignment in all table layout modes
  terminus-ui/table/src/table.component.scss
Labels: PR: approved, PR: awaiting review, Size: XS

#1995 stop auto-rebasing conflicts
  renovate.json
Labels: PR: awaiting review, Size: XS

#1996 chore(Pipe): Add new abbreviation pipe to demo page
  demo/app/components/pipes/pipes.component.html
Labels: PR: approved, PR: awaiting review, Size: S

#1997 style: general cleanup focused on documentation and jsdocs
  terminus-ui/chart/src/chart.component.md
  terminus-ui/checkbox/src/checkbox.component.md
  terminus-ui/chip/src/chip-collection.component.md
  terminus-ui/cohort-date-range/src/cohort-date-range.component.md
  terminus-ui/confirmation/src/confirmation-overlay.component.html
  terminus-ui/confirmation/src/confirmation-overlay.component.ts
  terminus-ui/confirmation/src/confirmation.directive.md
  terminus-ui/confirmation/src/confirmation.directive.ts
  terminus-ui/copy/src/copy.component.md
  terminus-ui/copy/src/copy.component.ts
  terminus-ui/csv-entry/src/csv-entry.component.md
  terminus-ui/csv-entry/src/csv-entry.component.ts
  terminus-ui/date-range/src/date-range.component.ts
  terminus-ui/drawer/src/drawer-container.component.ts
  terminus-ui/drawer/src/drawer-footer.component.ts
  terminus-ui/drawer/src/drawer-header.component.ts
  terminus-ui/drawer/src/drawer.component.md
  terminus-ui/drawer/src/drawer.component.ts
  terminus-ui/expansion-panel/src/expansion-panel.component.md
  terminus-ui/expansion-panel/src/expansion-panel.component.ts
  terminus-ui/file-upload/src/file-upload.component.md
  terminus-ui/file-upload/src/file-upload.component.ts
  terminus-ui/icon-button/src/icon-button.component.md
  terminus-ui/icon-button/src/icon-button.component.ts
  terminus-ui/icon/src/icon.component.md
  terminus-ui/input/src/input.component.md
  terminus-ui/link/src/link.component.md
  terminus-ui/login-form/src/login-form.component.md
  terminus-ui/logo/src/logo.component.md
  terminus-ui/menu/src/menu.component.md
  terminus-ui/menu/src/menu.component.ts
  terminus-ui/navigation/src/navigation.component.md
  terminus-ui/navigation/src/navigation.component.ts
  terminus-ui/option/src/option.component.ts
  terminus-ui/paginator/src/paginator.component.md
  terminus-ui/popover/src/popover-trigger.directive.ts
  terminus-ui/popover/src/popover.component.md
  terminus-ui/popover/src/popover.component.ts
  terminus-ui/radio-group/src/radio-group.component.md
  terminus-ui/radio-group/src/radio-group.component.ts
  terminus-ui/scrollbars/src/scrollbars.component.ts
  terminus-ui/search/src/search.component.ts
  terminus-ui/selection-list/src/selection-list.component.md
  terminus-ui/sort/src/sort.directive.md
  terminus-ui/spacing/src/vertical-spacing.directive.ts
  terminus-ui/table/src/table.component.md
  terminus-ui/table/src/table.component.ts
  terminus-ui/tabs/src/body/tab-body.component.ts
  terminus-ui/tabs/src/collection/tab-collection.component.md
  terminus-ui/tabs/src/ink-bar/ink-bar.component.ts
  terminus-ui/tabs/src/label/tab-label.directive.ts
  terminus-ui/tabs/src/tab/tab.component.ts
  terminus-ui/toggle/src/toggle.component.md
  terminus-ui/toggle/src/toggle.component.ts
  terminus-ui/tooltip/src/tooltip.component.ts
  terminus-ui/validation-messages/src/validation-messages.component.ts
Labels: PR: approved, Size: XL

#1999 chore(Demo): selection list demo layout fixed
  demo/app/components/selection-list/selection-list.component.html
Labels: PR: approved, Size: XS
