Repository GetTerminus/terminus-ui, pull requests merged in 2020-05, with the labels that each got.

#2196 chore(test): Move ci push action to pr to reduce ci running
  .github/workflows/ci-pr.yml
  .github/workflows/ci-push.yml
  .github/workflows/ci-release.yml
Labels: PR: approved, PR: awaiting review, Size: XL

#2219 chore(test): fix ci release should run in regression test step
  .github/workflows/ci-release.yml
Labels: PR: awaiting review, Size: XS

#2221 chore(Card): now using design tokens
  projects/library/card/src/card.component.scss
Labels: PR: awaiting review, Size: S

#2218 fix(Demo): fixed table demo reorder
  projects/demo/src/app/components/table/table.component.ts
Labels: PR: approved, Size: XS

#2223 chore(test): need to exclude renovate[bot]
  .github/workflows/ci-pr.yml
Labels: PR: awaiting review, Size: XS

#2230 fix(Chip): Badge padding set to be the same on both sides.
  cypress/integration/visual-regression/chip.js
  projects/library/chip/src/chip.component.scss
  projects/visual-regression/src/app/components/chip/chip-routing.module.ts
  projects/visual-regression/src/app/components/chip/chip.component.html
  projects/visual-regression/src/app/components/chip/chip.component.ts
  projects/visual-regression/src/app/components/chip/chip.module.ts
  projects/visual-regression/src/app/components/components.constant.ts
Labels: PR: approved, Size: L

#2231 fix(Icon): icon should have a fixed height
  .percy.yml
  cypress/integration/visual-regression/icon.js
  projects/library/icon/src/icon.component.scss
  projects/visual-regression/src/app/components/chip/chip.module.ts
  projects/visual-regression/src/app/components/components.constant.ts
  projects/visual-regression/src/app/components/icon/icon-routing.module.ts
  projects/visual-regression/src/app/components/icon/icon.component.html
  projects/visual-regression/src/app/components/icon/icon.component.ts
  projects/visual-regression/src/app/components/icon/icon.module.ts
Labels: PR: awaiting review, Size: M

#2232 fix(Menu): Background color set to correct white
  projects/library/menu/src/menu.component.scss
Labels: PR: approved, Size: XS

#2234 feat(TsTimeAgoPipe): Compare date default to current date
  projects/library/pipes/src/time-ago/time-ago.pipe.spec.ts
  projects/library/pipes/src/time-ago/time-ago.pipe.ts
Labels: PR: approved, Size: XS

#2237 feat(Drawer): Add configurable box show on drawer when collapsed
  projects/demo/src/app/components/drawer/drawer.component.html
  projects/library/drawer/src/drawer-animations.ts
  projects/library/drawer/src/drawer-container.component.spec.ts
  projects/library/drawer/src/drawer.component.md
  projects/library/drawer/src/drawer.component.ts
  projects/library/drawer/testing/src/test-components.ts
Labels: PR: approved, PR: awaiting review, Size: M

#2239 fix(CI): fake release due to previous release error
  README.md
Labels: PR: awaiting review, Size: XS

#2244 chore(CI): attempt better dev experience
  package.json
  tsconfig.json
Labels: PR: awaiting review, Size: XS

#2246 fix(Input): Allow both AbstractControl and FormControl to be passed in.
  projects/library/input/src/input.component.ts
Labels: PR: approved, Size: XS

#2241 fix(Drawer): Fix missing animation when shadow is always visible
  projects/library/drawer/src/drawer-animations.ts
Labels: PR: awaiting review, Size: XS
