Repository GetTerminus/terminus-ui, pull requests merged in 2020-04, with the labels that each got.

#2098 fix(CI): remove angular release blocker script
  .github/workflows/ci-release.yml
  package.json
Labels: PR: approved, Size: XS

#2099 fix(CI): remove script prefix for demo deploy
  .github/workflows/ci-push.yml
  .github/workflows/ci-release.yml
  .github/workflows/label-approved-pr.yml
  .github/workflows/pr-labeler.yml
  projects/library/package.json
  tooling/ci/demos-deploy-ci.sh
Labels: PR: approved, PR: awaiting review, Size: S

#2100 fix(CI): fix incorrect node prefix
  .github/workflows/ci-release.yml
  tooling/ci/demos-deploy-ci.sh
Labels: PR: awaiting review, Size: XS

#2110 feat(Input): support date locales
  projects/demo/src/app/components/date-range/date-range.component.html
  projects/demo/src/app/components/date-range/date-range.component.ts
  projects/library/cohort-date-range/src/cohort-date-range.component.html
  projects/library/cohort-date-range/src/cohort-date-range.component.ts
  projects/library/date-range/src/date-range.component.html
  projects/library/date-range/src/date-range.component.ts
  projects/library/input/src/input.component.spec.ts
  projects/library/input/src/input.component.ts
  projects/library/input/testing/src/test-components.ts
Labels: PR: awaiting review, Size: L

#2114 feat(Input): support dynamic locale changes
  projects/demo/src/app/components/date-range/date-range.component.html
  projects/demo/src/app/components/date-range/date-range.component.ts
  projects/library/cohort-date-range/src/cohort-date-range.component.html
  projects/library/cohort-date-range/src/cohort-date-range.component.ts
  projects/library/date-range/src/date-range.component.html
  projects/library/date-range/src/date-range.component.ts
  projects/library/input/src/input.component.spec.ts
  projects/library/input/src/input.component.ts
  projects/library/input/testing/src/test-components.ts
Labels: PR: awaiting review, Size: M

#2117 fix(CI): attempt new demo deploy flow
  .github/workflows/ci-release.yml
  tooling/ci/demos-deploy-ci.sh
  tooling/ci/demos-predeploy.sh
Labels: PR: awaiting review, Size: M

#2129 chore(test): Run a single E2E test to verify the AoT build loads
  .github/workflows/ci-push.yml
  .gitignore
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/spin-up.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  lint-staged.config.js
  package.json
  yarn.lock
Labels: PR: approved, PR: awaiting review, Size: XL

#2140 fix(CI): final tweaks for Ivy
  ngcc.config.js
  yarn.lock
Labels: PR: approved, Size: S

#2087 chore(Paginator): Switch select with selection list and add no validation mode
  projects/library/paginator/src/paginator.component.html
  projects/library/paginator/src/paginator.component.spec.ts
  projects/library/paginator/src/paginator.component.ts
  projects/library/paginator/src/paginator.module.ts
  projects/library/paginator/testing/src/test-components.ts
  projects/library/paginator/testing/src/test-helpers.ts
  projects/library/selection-list/testing/src/test-helpers.ts
Labels: PR: approved

#2168 Manual push 2
  .github/workflows/ci-push.yml
  .github/workflows/ci-release.yml
  tooling/ci/demos-deploy.sh
  tooling/ci/inject-library-version-number.sh
Labels: PR: awaiting review, Size: M

#2162 chore(Demo): update page title on route change
  projects/demo/src/app/app.component.ts
Labels: PR: approved, Size: S

#2174 First batch of regression tests
  .github/workflows/ci-pr.yml
  .gitignore
  cypress.json
  cypress/integration/visual-regression/button.js
  cypress/integration/visual-regression/card.js
  cypress/integration/visual-regression/input.js
  cypress/integration/visual-regression/selection-list.js
  cypress/plugins/index.js
  cypress/support/commands.js
  lint-staged.config.js
  package.json
  projects/visual-regression/src/app/app-routing.module.ts
  projects/visual-regression/src/app/app.component.html
  projects/visual-regression/src/app/app.component.scss
  projects/visual-regression/src/app/app.module.ts
  projects/visual-regression/src/app/components/button/button-routing.module.ts
  projects/visual-regression/src/app/components/button/button.component.html
  projects/visual-regression/src/app/components/button/button.component.ts
  projects/visual-regression/src/app/components/button/button.module.ts
  projects/visual-regression/src/app/components/card/card-routing.module.ts
  projects/visual-regression/src/app/components/card/card.component.html
  projects/visual-regression/src/app/components/card/card.component.ts
  projects/visual-regression/src/app/components/card/card.module.ts
  projects/visual-regression/src/app/components/components.component.html
  projects/visual-regression/src/app/components/components.component.ts
  projects/visual-regression/src/app/components/components.constant.ts
  projects/visual-regression/src/app/components/input/input-routing.module.ts
  projects/visual-regression/src/app/components/input/input.component.html
  projects/visual-regression/src/app/components/input/input.component.ts
  projects/visual-regression/src/app/components/input/input.module.ts
  projects/visual-regression/src/app/components/selection-list/selection-list-routing.module.ts
  projects/visual-regression/src/app/components/selection-list/selection-list.component.html
  projects/visual-regression/src/app/components/selection-list/selection-list.component.ts
  projects/visual-regression/src/app/components/selection-list/selection-list.module.ts
  projects/visual-regression/src/index.html
  projects/visual-regression/src/polyfills.ts
  projects/visual-regression/src/styles.scss
  projects/visual-regression/src/tsconfig.app.json
  projects/visual-regression/stylelint.config.js
  yarn.lock
Labels: PR: approved, PR: awaiting review, Size: XL

#2184 feat(Table): support footer rows
  projects/demo/src/app/components/table/table.component.html
  projects/demo/src/app/components/table/table.component.ts
  projects/library/table/src/cell.ts
  projects/library/table/src/row.ts
  projects/library/table/src/table.component.md
  projects/library/table/src/table.component.scss
  projects/library/table/src/table.component.spec.ts
  projects/library/table/src/table.module.ts
  projects/library/table/testing/src/test-components.ts
  projects/library/table/testing/src/test-helpers.ts
Labels: PR: approved, PR: awaiting review, Size: L

#2187 feat(Table): support footer row
  projects/demo/src/app/components/table/table.component.html
  projects/demo/src/app/components/table/table.component.ts
  projects/library/table/src/cell.ts
  projects/library/table/src/row.ts
  projects/library/table/src/table.component.md
  projects/library/table/src/table.component.scss
  projects/library/table/src/table.component.spec.ts
  projects/library/table/src/table.module.ts
  projects/library/table/testing/src/test-components.ts
  projects/library/table/testing/src/test-helpers.ts
  projects/visual-regression/stylelint.config.js
Labels: PR: awaiting review, Size: L

#2188 fix(SelectionList): fixed when seed values, chips do not show up in UI
  projects/library/selection-list/src/selection-list.component.spec.ts
  projects/library/selection-list/src/selection-list.component.ts
  projects/library/selection-list/testing/src/test-components.ts
Labels: PR: approved, Size: M

#2173 Remove extra code formatter openers
  projects/library/cohort-date-range/src/cohort-date-range.component.md
Labels: PR: awaiting review, Size: XS

#2193 chore(Demo): no longer compiling demo with Ivy
  package.json
  projects/demo/tsconfig.app.json
  yarn.lock
Labels: PR: awaiting review, Size: L

#2194 chore(VR): disable ivy
  projects/visual-regression/tsconfig.app.json
  tooling/cz-config.js
Labels: PR: awaiting review, Size: XS
